.card-body-style {
}

.user-flex {
  display: flex;
  flex-wrap: wrap;
  width: 11rem;
  float: left;
}

.avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 15px;
}

.avatar-dialog {
  width: 100%;
  border-radius: 15px;
}

.avatar-button {
  width: 150px;
  margin-top: 1rem;
}

.description-flex {
  display: flow-root;
}

.description {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.FIO {
  width: 15rem;
}

.Number {
  margin-bottom: 5px;
}

.Direction {
  margin-bottom: 5px;
}

.Other-information {
}

textarea {
  min-height: 81px;
  max-height: 250px;
}

.card-size {
  height: auto;
  width: 60rem;
}

.personal-report {
  margin-top: 1rem;
  width: 150px;
}
