.card-body-style {
}

.user-flex {
  display: flex;
  flex-wrap: wrap;
  width: 11rem;
  float: left;
}

.avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 15px;
}

.avatar-dialog {
  width: 100%;
  border-radius: 15px;
}

.avatar-button {
  width: 150px;
  margin-top: 1rem;
}

.change-image {
  margin-top: 1rem;
  margin-bottom: 0;
  padding-top: 13px;
  padding-left: 17px;
  width: 150px;
  height: 40px;
  background-color: #0095ff;
  border-color: #0095ff;
  color: white;
  text-transform: uppercase;
  border-radius: 0.25rem;
  line-height: 1rem;
  transition-duration: 0.15s;
  transition-property: background-color, color;
  transition-timing-function: ease-in;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.change-image:hover {
  background-color: #42aaff;
  border-color: #42aaff;

  text-decoration: none;
}

.change-image:active {
  background-color: #006fd6;
  border-color: #006fd6;

  outline: none;
  box-shadow: 0 0 0 0.375rem rgba(143, 155, 179, 0.16);

  text-decoration: none;
}

.change-image:focus {
  background-color: #006fd6;
  border-color: #006fd6;

  outline: none;
  box-shadow: 0 0 0 0.375rem rgba(143, 155, 179, 0.16);

  text-decoration: none;
}

.description-flex {
  display: flow-root;
}

.description {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.FIO {
  width: 15rem;
}

.Number {
  margin-bottom: 5px;
}

.Direction {
  margin-bottom: 5px;
}

.Other-information {
}

textarea {
  min-height: 81px;
  max-height: 250px;
}

.card-size {
  height: auto;
  width: 60rem;
}

.personal-report {
  margin-top: 1rem;
  width: 150px;
}
