.create-user-margin-bottom{
  margin-bottom: 2rem;
}

.create-user {
  display: flex;
  flex-direction: column;
}

.button-bottom {
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
