.label {
  font-size: 18px;
  font-family: Broadway, serif;
  display: block;
}

li {
  list-style-type: none;
}

.label-top {
  margin-top: 1rem;
}

.label-bottom {
  margin-bottom: 0.5rem;
}

.card-header-flex {
  display: flex;
  flex-wrap: nowrap;
}

.order-content-flex {
  display: flex;
  justify-content: space-around;
  white-space: nowrap;
}

.generateButton {
  margin-left: 1rem;
}
