label.label {
  display: block;
}

.card-width {
  width: 330px;
}

.button-bottom {
  display: flex;
  flex-wrap: nowrap;

}

//.submit-left {
//  padding-left: 2rem;
//}

//.cancel-left {
//  padding-left: 1.6rem;
//}
