@media screen and (min-width: 600px){
  label.label {
    display: block;
  }

  .card-width {
    width: 330px;
  }

  .button-bottom {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }


  //.submit-left {
  //  padding-left: 2rem;
  //}

  //.cancel-left {
  //  padding-left: 1.6rem;
  //}
}

@media screen and (max-width: 599px){
  label.label {
    display: block;
  }

  .card-width {
    width: 280px;
  }

  .user-input-adaptive {
    width: 180px;
  }

  .button-bottom {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
