<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-10">
        <button nbButton status="success" (click)="onAddWorker()">Add worker</button>
        <button nbButton status="info" class="generateButton" (click)="userReport()">Generate report</button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ul *ngIf="(dataState$ | async)">
      <li *ngFor="let dataUser of (dataState$ | async).data.users">
        <nb-card style="border: 1px solid aquamarine" (click)="showWorkerInformation(dataUser)">
          <nb-card-header>
            <div class="row card-header-flex">
              <div class="col-md-6">
                {{dataUser.surname}} - {{dataUser.name}}
              </div>
              <div class="col-md-6">
                <button nbButton status="danger" class="float-right" (click)="onDelete(dataUser)">Delete</button>
              </div>
            </div>
          </nb-card-header>
          <nb-card-body class="container col col-sm col-md col-lg col-xl">
            <div class="row user-content-flex">
              <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-2">
                <label class="col-md-12 label" for="userSurname">FIO: </label>
                <input class="col-md-12" type="text" id="userSurname" nbInput
                       value="{{dataUser.surname}} {{dataUser.name}} {{dataUser.patronymic}}" readonly>
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-2">
                <label class="col-md-12 label" for="userPhoneNumber">Phone: </label>
                <input class="col-md-12" type="text" id="userPhoneNumber" nbInput readonly
                       value="{{dataUser.phoneNumber}}">
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-2">
                <label class="col-md-12 label" for="userDirection">Direction: </label>
                <input class="col-md-12" type="text" id="userDirection" nbInput readonly value="{{dataUser.direction}}">
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-2">
                <label class="label col-md-12" for="userProject">Project: </label>
                <input class="col-md-12" type="text" id="userProject" nbInput readonly
                       [value]=onUserProjects(dataUser.project)>
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-2">
                <label class="col-md-12 label" for="userRole">Role: </label>
                <input class="col-md-12" type="text" id="userRole" nbInput readonly value="{{'nothing here'}}">
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </li>
    </ul>
  </nb-card-body>
</nb-card>
