<div class="col-md-12">
  <nb-card class="generate-report-wrapper">
    <nb-card-header *ngIf="this.users.length > 0">Worker</nb-card-header>
    <nb-card-header *ngIf="this.orders.length > 0">Order</nb-card-header>
    <nb-card-header *ngIf="this.customers.length > 0">Customer</nb-card-header>
    <nb-card-body class="create-user">
      <div>
        <button nbButton status="info" *ngIf="this.users.length > 0" (click)="generateUserReport()">create user report</button>
        <button nbButton status="info" *ngIf="this.orders.length > 0" (click)="generateOrderReport()">create order report</button>
        <button nbButton status="info" *ngIf="this.customers.length > 0" (click)="generateCustomerReport()">create customer report</button>
        <button nbButton status="info" class="general-report" (click)="generateGeneralReport()">create general report</button>
        <div id="wdr-component" >Generate report</div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton class="float-right" status="danger" (click)="cancel()">cancel</button>
    </nb-card-footer>
  </nb-card>
</div>
