<div class="col-md-12">
  <nb-card class="generate-report-wrapper">
    <nb-card-header *ngIf="isComponent == usersReport">Worker</nb-card-header>
    <nb-card-header *ngIf="isComponent == ordersReport">Order</nb-card-header>
    <nb-card-header *ngIf="isComponent == customersReport">Customer</nb-card-header>
    <nb-card-body class="create-user">
      <div>
        <button nbButton status="info" *ngIf="isComponent == usersReport">create user report</button>
        <button nbButton status="info" *ngIf="isComponent == ordersReport">create order report</button>
        <button nbButton status="info" *ngIf="isComponent == customersReport">create customer report</button>
        <button nbButton status="info" class="general-report" (click)="generateGeneralReport()">create general report</button>
        <div id="wdr-component" >Generate report</div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton class="float-right" status="danger" (click)="cancel()">cancel</button>
    </nb-card-footer>
  </nb-card>
</div>
